
.Timeline {
    flex-grow: 1;
    display: flex;
    gap: 64px;

    & .cell {
        position: relative;

        & .type {
            position: absolute;
            top: -64px;
            font-size: 24px;
        }

        & .body {
            width: 40px;
            height: 40px;
            background: buttonface;
            border-radius: 50%;
        }

        &.call {
            & .body {
                background-color: #88ff64 ;
            }
        }

        &.leading {
            & .body {
                background-color: #ff9a64 ;
            }
        }

        &.trailing {
            & .body {
                background-color: #6964ff ;
            }
        }
    }

    &.throttle {
        & .cell {
            & .type {

            }

            & .body {}
        }
    }
}