.AdvanceDescription {
    display: flex;
    flex-direction: column;
    max-height: 1000px;
    transition: max-height 0.4s ease-in-out, margin-bottom 0.4s ease-in-out;
    padding: 0px 32px;
    margin-bottom: 38px;
    margin-top: 32px;
    overflow: hidden;

    & .advance-panel {
        outline: 6px #646cff solid;
        outline-offset: -6px;
        border-radius: 32px;
        padding: 48px;
        display: flex;
        flex-direction: column;
        gap: 48px;

        & .setting {
            font-size: 32px;
            text-align: center;
        }

        & .description {
            font-size: 24px;
            word-wrap: break-word;
            width: 1000px; /* TO REFACTOR */
            margin: auto;
        }

        & .divider {
            height: 6px;
            background: buttonface;
            border-radius: 32px;
        }
    }

    &.closed {
        transition: max-height 0.4s ease-in-out, margin-bottom 0.4s ease-in-out 0.2s;
        margin-bottom: 0px;
        max-height: 0;
    }
}