.SearchInput {
    width: fit-content;
    margin: auto;
    
    & input {
        width: 500px;
        height: 64px;
        font-size: 32px;
        line-height: 32px;
        padding: 36px 24px;
        border-radius: 16px;
    }

    & .debounce-checkbox-wrapper {
        width: 500px;
        margin-bottom: 32px;
        display: flex;

        & .debounce-checkbox-label {
            font-size: 32px;
            line-height: 32px;
            padding: 0px 16px;
            margin: auto;
            flex-grow: 1;
        }

        & .debounce-checkbox-input {
            flex-shrink: 1;
            flex-basis: auto;
            width: 64px;
        }
    }
}