.SearchInput {
    width: fit-content;
    margin: auto;

    & .title {
        display: flex;
        margin: auto;
        margin-bottom: 128px;

        span {
            font-size: 64px;
            line-height: 96px;
            text-align: center;

            &:first-child,
            &:last-child  {
                flex-basis: 40%;
                background-color: #646cff;
                border-radius: 16px;
            }

            &:nth-child(2){
                justify-self: center;
                flex-grow: 1;
            }
        }
    }
    
    & .input-wrapper {
        width: 100%;
        display: flex;
        gap: 16px;

        & .input {
            flex-grow: 1;
            width: 100%;
            height: 72px;
            font-size: 32px;
            line-height: 32px;
            padding: 36px 24px;
            border-radius: 16px;

            &::-webkit-search-cancel-button {
                display: none;
            }
        }

        & .input-clear {
            flex-grow: 0;
            right: 0px;
            height: 72px;
            padding: 12px 24px;
            font-size: 32px;
            line-height: 32px;
            border-radius: 16px;
            background-color: field;
            transition: background-color 0.2s ease-in-out, border-radius 0.2s ease-in-out;

            &:hover {
                background-color: #ff6464;
                border-radius: 32px;
            }
        }
    }

    & .checkboxes-wrapper {
        display: flex;
        gap: 16px;
        width: fit-content;
        margin-bottom: 48px;
        
        & .checkbox-wrapper {
            width: 500px;
            display: flex;
            gap: 16px;
            justify-content: center;
    
            & .checkbox-label {
                font-size: 32px;
                line-height: 64px;
                padding: 0px 16px;
                flex-grow: 0;
                align-self: center;
            }
    
            & .checkbox-input {
                flex-shrink: 1;
                flex-basis: auto;
                width: 64px;
            }
        }
    }

    & .results-wrapper {
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin-top: 24px;

        & .header {
            width: fit-content;
            margin: auto;
            padding: 0px 24px;
            font-size: 32px;
            line-height: 64px;
            text-align: center;
        }

        & .row {
            display: flex;
            gap: 12px;
            justify-content: space-between;
            
            & p {
                flex-grow: 1;
                flex-basis: 33%;
                font-size: 24px;
                text-align: center;
            }

            & .debounce {
                flex-grow: 1;
                flex-basis: 33%;
                display: flex;
                flex-direction: column;

                & p {
                    font-size: 24px;
                    text-align: center;
                }

                & .CircularTimer {
                    width: 100px;
                    height: 100px;
                }
            }
        }

        & .reset-button {
            height: 72px;
            width: fit-content;
            align-self: center;
            padding: 12px 24px;
            margin: 16px 0px;
            font-size: 32px;
            line-height: 32px;
            transition: background-color 0.2s ease-in-out, border-radius 0.2s ease-in-out;

            &:hover {
                background-color: #646cff;
                border-radius: 16px;
            }
        }
    }
}