.TimelineController {
    display: flex;
    flex-direction: column;

    & .timeline-panel {
        outline: 6px #646cff solid;
        outline-offset: -6px;
        border-radius: 32px;
        padding: 48px;
        display: flex;
        flex-direction: column;
        gap: 48px;
        overflow: hidden;

        & .divider {
            height: 6px;
            background: buttonface;
            border-radius: 32px;
        }
    }
}