.InputController {
    width: 100%;
    display: flex;
    gap: 16px;
    margin: 48px 0px;

    & .input {
        flex-grow: 1;
        width: 100%;
        height: 72px;
        font-size: 32px;
        line-height: 32px;
        padding: 36px 24px;
        border-radius: 16px;

        &::-webkit-search-cancel-button {
            display: none;
        }
    }

    & .input-clear,
    .advance-toggle  {
        flex-grow: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;
        height: 72px;
        padding: 12px 24px;
        border-radius: 16px;
        background-color: field;
        transition: background-color 0.2s ease-in-out, border-radius 0.2s ease-in-out;

        & .name {
            font-size: 32px;
            line-height: 48px;
        }

        & .icon {
            height: 60%;
        }

        &:hover {
            border-radius: 32px;
        }
    }

    & .input-clear {
        &:hover {
            background-color: #ff6464;
        }
    }

    & .advance-toggle {
        flex-grow: 0;
        height: 72px;
        padding: 12px 24px;

        &:hover {
            background-color: #646cff;
        }
    }
}